<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/348105537a.js" crossorigin="anonymous"></script>
    <script defer src="script.js" type="text/javascript"></script>
    <script defer src="products.js" type="text/javascript"></script>
    <title>After School Club</title>
</head>

<body>
    <div id="app">

        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showCheckout" v-if="showLesson">
                {{itemInTheCart}}
                <span class="fa-solid fa-cart-shopping"> Checkout</span>
            </button>
            <button v-on:click="showCheckout" v-else>
                <span class="fa-solid fa-house"> Back to home page</span>
            </button>

        </header>
        <main>
            <div v-if="showLesson">
                <div v-for="lessons in lesson">
                    <figure>
                        <!--<img v-bind:src="img.png">-->
                    </figure>
                    <h2>Subject: {{lessons.title}}</h2>
                    <p>Location: {{lessons.location}}</p>
                    <p>Price: £{{lessons.price}}</p>
                    <p>Spaces available: {{lessons.space}}</p>
                </div>
                <div v-if="lessonHaveSpace">
                    <button v-on:click="addItemToCart">Add To The Cart</button>
                    <span v-if="itemsLeft === 0">All out!</span>
                    <span v-else-if="itemsLeft < 5">Only {{itemsLeft}} left!</span>
                    <span v-else>Buy now!</span>
                </div>
                <div v-else>
                    <button disabled="true">Add To The Cart</button>
                    <span>You have added all available lessons of this subject!</span>
                </div>
            </div>
            <div v-else>
                <h2>Checkout page</h2>
                <strong>Name: </strong>
                <input type="text" v-model="order.name">
                <strong>Surname: </strong>
                <input type="text" v-model="order.surname">
                <strong>Zip/Postal Code: </strong>
                <input type="text" v-model="order.zip">
            </div>
        </main>
    </div>
</body>

</html>