<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- calling scripts-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/348105537a.js" crossorigin="anonymous"></script>
    <script src="products.js" type="text/javascript"></script>
    <script defer src="script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css">
    <title>After School Club</title>
</head>
<body>
    <div id="app">
        <header>
            <!-- Display website name and lesson page with disabled checkout button and 0 items in cart-->
            <h1 id="sitename" v-text="sitename"></h1>
            <div v-if="cart.length===0 && showLesson">
                <button class="checkoutBtn" >
                    <span class="fa-solid fa-cart-shopping">Checkout 0</span>
                </button>
            </div>
            <div v-else>
                <!-- If items in cart are > than 0 checkout button is clickable and displays how many items in cart-->
                <button  class="checkoutBtn" v-on:click="showCheckout" v-if="showLesson">
                    <span class="fa-solid fa-cart-shopping">Checkout {{itemInTheCart}}</span>
                </button>
                <!-- Button to return to lessons page, even if removed all items button stays clickable-->
                <button  class="checkoutBtn" v-on:click="showCheckout" v-else>
                    <span class="fa-solid fa-house"> Back to home page</span>
                </button>
            </div>
            <div id="topnav">
                <label for="searchBox" class="searchTxt">Search:
                    <input type="text" id="searchBox" placeholder="Enter your search" v-model="searchInput" /></label>
                <div class="dropdown">
                    <span class="dropbtn">Sort
                        <i class="fa fa-caret-down"></i>
                    </span>
                    <div class="dropdown-content">
                        <select v-model="sortOption">
                            <option value="price">Price</option>
                            <option value="title">Subject</option>
                            <option value="location">Location</option>
                            <option value="space">Availability</option>
                        </select>
                        <select v-model="sortOrder">
                            <option value="1">Ascending</option>
                            <option value="-1">Descending</option>
                        </select>
                    </div>
                </div>
            

                <!-- Radio buttons for sorting, click one of the attributes and then the sorting order, two-way binding for real time sort -->

            </div>
            
        </header>
        <main>
            <!-- Display lesson page in case showLesson is true(variable starts with true value)-->
            <div id="lessonPage" v-if="showLesson">
            
                <!-- search field with two-way binding for real time search-->

                <!-- if no sort option is clicked then the lesson will display by ID but if the options are selected it will show sorted-->
                <div v-for="product in searchedAndSortedLessons">
                    <figure><img v-bind:src="product.image"></figure>
                    <h2>{{product.title}}</h2>
                    <p>Location: {{product.location}}</p>
                    <p>Price: £{{product.price}}</p>
                    <p>Spaces available: {{product.space}}</p>
                    <!-- if the lesson has any space available will add a lesson to the cart and take 1 from space, if 0 space in the lesson button is disabled-->
                    <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                        Cart</button>
                    <button v-else disabled="true">Add To The Cart</button>
                    <!-- if fields are less then 5 or 0 show different message-->
                    <span v-if="itemsLeft(product) === 0">All out!</span>
                    <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                    <span v-else>Buy now!</span>
                    <br>
                </div>
            </div>
            <!-- checkout page in case showLesson is false-->
            <div v-else>
                <h2>Checkout page</h2>
                <!-- Using v model to bind the input so the user can't type numbers in the name box and only number is phone box-->
                <strong>Name: </strong>
                <input type="text" v-model="order.name">
                <strong>Phone Number: </strong>
                <input type="text" v-model="order.phone">
                <!-- displays all items add to cart[] array if displayCart is true(method explained below), also show how many of lessons of a single product were added-->
                <!-- adds a button to delete a single lesson when clicked(remove method explained below)-->
                <h2>Cart: </h2>
                <div v-for="product in products">
                    <span v-if="displayCart(product.id)" v-text="product.title+' x'+lessonCount(product.id)"></span>
                    <button v-if="displayCart(product.id)" v-on:click="remove(product)">Remove</button>
                </div>
                <br>
                <!-- if not typed correctly with just numbers for phone and letters for name the button to finalize the order is disabled-->
                <button disabled="true" v-if="checkoutVali">Order Now!</button>
                <button v-on:click="finalizeOrder" v-else>Order Now!</button>
            </div>
        </main>
    </div>

</body>

</html>