<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- calling scripts-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/348105537a.js" crossorigin="anonymous"></script>
    <script src="products.js" type="text/javascript"></script>
    <title>After School Club</title>
</head>
<body>
    <div id="app">
        <header>
    <!-- Display website name and lesson page with disabled checkout button and 0 items in cart-->
            <h1 v-text="sitename"></h1>
            <div v-if="cart.length===0 && showLesson">
                <button disabled="true">
                    {{itemInTheCart}}
                    <span class="fa-solid fa-house"> Checkout</span>
                </button>
            </div>
            <div v-else>
                <!-- If items in cart are > than 0 checkout button is clickable and displays how many items in cart-->
                <button v-on:click="showCheckout" v-if="showLesson">
                    {{itemInTheCart}}
                    <span class="fa-solid fa-cart-shopping"> Checkout</span>
                </button>
                <!-- Button to return to lessons page, even if removed all items button stays clickable-->
                <button v-on:click="showCheckout" v-else>
                    <span class="fa-solid fa-house"> Back to home page</span>
                </button>
            </div>
        </header>
        <main>
            <!-- Display lesson page in case showLesson is true(variable starts with true value)-->
            <div v-if="showLesson">
                <br>
                <!-- search field with two-way binding for real time search but I couldn't get it working-->
                    <label for="searchBox">Search:</label>
                    <input type="text" id="searchBox" placeholder="Enter your search" v-model="searchInput" />
                <!-- Radio buttons for sorting, click one of the attributes and then the sorting order, two-way binding for real time sort -->
                <p>Sort:
                <label>
                    <input type="radio" id="priceR" value="priceR" v-model="sortOption2">Price
                </label>
                <label>
                    <input type="radio" id="nameR" value="nameR" v-model="sortOption2">Subject name
                </label>
                <label>
                    <input type="radio" id="locR" value="locR" v-model="sortOption2">Location
                </label>
                <label>
                    <input type="radio" id="spaceR" value="spaceR" v-model="sortOption2">Availability
                </label>
                <br>
                <label>
                    <input type="radio" id="desc" value="desc" v-model="sortOption1">Descending
                </label>
                <label>
                    <input type="radio" id="asc" value="asc" v-model="sortOption1">Ascending
                </label>
            </p>
            <!-- if no sort option is clicked then the lesson will display by ID but if the options are selected it will show sorted-->
                <div v-if="sortOption2 ==='' && sortOption1===''">
                    <!-- displaying all lessons and it's values-->
                    <div v-for="product in products">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <!-- if the lesson has any space available will add a lesson to the cart and take 1 from space, if 0 space in the lesson button is disabled-->
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <!-- if fields are less then 5 or 0 show different message-->
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting price ascending-->
                <div v-else-if="sortOption2==='priceR' && sortOption1==='asc'">
                    <div v-for="product in sortPriceL">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting price descending-->
                <div v-else-if="sortOption2==='priceR' && sortOption1==='desc'">
                    <div v-for="product in sortPriceH">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting name ascending-->
                <div v-else-if="sortOption2==='nameR' && sortOption1==='asc'">
                    <div v-for="product in sortNameL">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting name descending-->
                <div v-else-if="sortOption2==='nameR' && sortOption1==='desc'">
                    <div v-for="product in sortNameH">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting location ascending-->
                <div v-else-if="sortOption2==='locR' && sortOption1==='asc'">
                    <div v-for="product in sortLocL">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting location descending-->
                <div v-else-if="sortOption2==='locR' && sortOption1==='desc'">
                    <div v-for="product in sortLocH">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting space ascending-->
                <div v-else-if="sortOption2==='spaceR' && sortOption1==='asc'">
                    <div v-for="product in sortSpaceL">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
                <!-- sorting space descending-->
                <div v-else-if="sortOption2==='spaceR' && sortOption1==='desc'">
                    <div v-for="product in sortSpaceH">
                        <figure><img v-bind:src="product.image"></figure>
                        <h2>Subject: {{product.title}}</h2>
                        <p>Location: {{product.location}}</p>
                        <p>Price: £{{product.price}}</p>
                        <p>Spaces available: {{product.space}}</p>
                        <button v-if="lessonHaveSpace(product)" v-on:click="addItemToCart(product)">Add To The
                            Cart</button>
                        <button v-else disabled="true">Add To The Cart</button>
                        <span v-if="itemsLeft(product) === 0">All out!</span>
                        <span v-else-if="itemsLeft(product) < 5">Only {{itemsLeft(product)}} left!</span>
                        <span v-else>Buy now!</span>
                    </div>
                </div>
            </div>
            <!-- checkout page in case showLesson is false-->
            <div v-else>
                <h2>Checkout page</h2>
                <!-- Using v model to bind the input so the user can't type numbers in the name box and only number is phone box-->
                <strong>Name: </strong>
                <input type="text" v-model="order.name">
                <strong>Phone Number: </strong>
                <input type="text" v-model="order.phone">
                <!-- displays all items add to cart[] array if displayCart is true(method explained below), also show how many of lessons of a single product were added-->
                <!-- adds a button to delete a single lesson when clicked(remove method explained below)-->
                <h2>Cart: </h2>
                <div v-for="product in products">
                    <span v-if="displayCart(product.id)" v-text="product.title+' x'+lessonCount(product.id)"></span>
                    <button v-if="displayCart(product.id)" v-on:click="remove(product)">Remove</button>
                </div>
                <br>
                <!-- if not typed correctly with just numbers for phone and letters for name the button to finalize the order is disabled-->
                <button disabled="true" v-if="checkoutVali">Order Now!</button>
                <button v-on:click="finalizeOrder" v-else>Order Now!</button>
            </div>
        </main>
    </div>
    <!-- starting of script-->
    <script>
        //variable for the regular expression used to validate if the user only typed letters and at least 1 char 
        var nameRE = new RegExp("^[A-Za-z]{1,}$");
        //variable for the regular expression used to validate if the user only typed numbers and at least 9 char 
        var phoneRE = new RegExp("^[0-9]{9,}$");
        //start of vue js
        let schoolapp = new Vue({
            el: "#app",
            data: {
                //variables
                sitename: "After School Club app",
                //products gets data in json format from products.js
                products: products,
                //used to store products in cart  
                cart: [],
                //variable that shows lesson or checkout page depending on value
                showLesson: true,
                //variable to store user input
                sortOption1: "",
                sortOption2: "",
                searchInput: "",
                //save user details for order
                order: {
                    name: "",
                    phone: "",
                }
            },
            methods: {
                //when called pushes product.id to the cart[] and takes 1 from that product space
                addItemToCart: function (product) {
                    this.cart.push(product.id);
                    product.space--;
                },
                //function used to change from lesson and checkout page changing showLesson value through changing its last value
                showCheckout: function () {
                    if (this.showLesson) {
                        this.showLesson = false
                    } else {
                        this.showLesson = true
                    }
                },
                //to enable the button to add lessons to the cart, if no space is available all button is disabled
                lessonHaveSpace(product) {
                    return product.space > this.cartCount(product.id);
                },
                //function to get how many lessons a product still has
                itemsLeft(product) {
                    return product.space - this.cartCount(product.id);
                },
                //function to make a counter to show number of items in cart in checkout button
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            return count++;
                        }
                    }
                    return count;
                },
                //function to make a counter to show number of items in cart in checkout page
                lessonCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                //shows all lessons added to the cart and if the id matches is shows on the cart page
                displayCart(id) {
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            return true;
                        }
                    }
                    return false;

                },
                //removes one of the items in the array checking if product id matches with the id in the cart
                //if it does removes 1 item starting in the index of the array and adds 1 to space of that product
                remove(product) {
                    let i = this.cart.indexOf(product.id);
                    if (this.cart[i] === product.id) {
                        this.cart.splice(i, 1);
                    }
                    product.space++;
                },
                //finish order process with a notification so the user knows progress has been made and refreshes the page to start over
                finalizeOrder() {
                    alert('Thank you, the order is placed!');
                    location.reload();
                },


            },
            computed: {
                //counts the cart[] length and returns it
                itemInTheCart: function () {
                    return this.cart.length || "";
                },
                //sorting price ascending
                sortPriceL() {
                    function compare(x, y) {
                        if (x.price > y.price) return 1;
                        if (x.price < y.price) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);
                },
                //sorting price descending
                sortPriceH() {
                    function compare(x, y) {
                        if (x.price < y.price) return 1;
                        if (x.price > y.price) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);
                },
                //sorting name ascending
                sortNameL() {
                    function compare(x, y) {
                        if (x.title > y.title) return 1;
                        if (x.title < y.title) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);
                },
                //sorting name descending
                sortNameH() {
                    function compare(x, y) {
                        if (x.title < y.title) return 1;
                        if (x.title > y.title) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);

                },
                //sorting location ascending
                sortLocL() {
                    function compare(x, y) {
                        if (x.location > y.location) return 1;
                        if (x.location < y.location) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);

                },
                //sorting location descending
                sortLocH() {
                    function compare(x, y) {
                        if (x.location < y.location) return 1;
                        if (x.location > y.location) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);

                },
                //sorting space ascending
                sortSpaceL() {
                    function compare(x, y) {
                        if (x.space > y.space) return 1;
                        if (x.space < y.space) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);

                },
                //sorting space descending
                sortSpaceH() {
                    function compare(x, y) {
                        if (x.space < y.space) return 1;
                        if (x.space > y.space) return -1;
                        return 0;
                    }
                    return this.products.sort(compare);

                },
                //validate checkout inputs
                checkoutVali() {
                    return (!nameRE.test(this.order.name) || !phoneRE.test(this.order.phone));
                },
                //my search but doesnt work for some reason, first I convert every string into lower cases
                //query gets input in all lowercases then with the use of filter I compare both strings and returns if they match
                search() {
                    let query = this.searchInput.toLowerCase();
                    return this.products.filter(product => {
                        return (product.title.toLowerCase().includes(query) ||
                            product.location.toLowerCase().includes(query))
                    })
                }

            }

        });
    </script>
</body>

</html>